.section_Like{
    padding-top: 68px;
    background-color: #0c0c0c;
}
.section_Like .Like{
    width: 1809px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    min-height: 1000px;
    padding: 0 60px;
   
}
.section_Like .Like > h1{
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 148px;
}
/* 모두 지우기 버튼 */
.section_Like .Like > div > button{
    position: absolute;
    top: 10px;
    right: 64px;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 20px;
    cursor: pointer;
}
.section_Like .Like > div > button:hover{
    color: crimson;
    border:2px solid crimson;
}
/* 찜한  리스트 영역 */
.section_Like .Like .Like_container > ul{
    display: flex;
    gap: 9px;
    flex-wrap: wrap;
    
}
/* 찜한 리스트 객체 */
.section_Like .Like .Like_container > ul >li{
    margin-bottom: 68px;
}
.section_Like .Like .Like_container > ul >li >img{
    width: 294px;
    height: 166px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.section_Like .Like .Like_container > ul >li >img:hover{
    transform: scale(1.3);
    box-shadow: 0 0 3px rgba(0, 0, 3px, 0.4);
}
/* 리셋 버튼 클릭 후 나오는 모달 */
.resetModal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    width: 400px;
    height: 200px;
    color: #000;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
}
.resetModal >h2{
    background-color: #333;
    padding: 20px 0;
    margin: 0;

}
.resetModal > p{
    color: #000;
    margin: 30px 0;
}
.resetModal .btn{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.resetModal .btn button{
    padding: 5px 15px;
    color: #000;
}
.msg{
    text-align: center;
    
}
.msg p{
    font-size: 20px;
    color: #aaa;

}