.ModalB_container{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 19900;
}
.ModalB_container .modal_back{
    width: 100%;
    height: 100%;
    background-color: red;
    opacity: 0;
}
.ModalB_container .ModalB_box{
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%,-50%);
    width: 918px;
    height: 704px;
    /* background: linear-gradient(to bottom top, #000, #fff); */
    background: linear-gradient(to top, #000,rgba(0,0,0,0.8),rgba(0,0,0,0.4), rgba(250,250,250,0));
}
.ModalB_container .ModalB_box >img{
    width: 100%;
    border-radius: 10px;
}
.ModalB_container .ModalB_box > ul{
    margin-top: 250px;
    padding: 0 45px;
}
.ModalB_container .ModalB_box > ul >li >.Title_logo{
    display: inline-block;
    box-sizing: border-box;
    height: 60px;
    font-size: 60px;
    margin-top: 20px;
    overflow: hidden;
}
.ModalB_container .ModalB_box > ul .MB_btn_group{
    height: 57px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.ModalB_container .ModalB_box > ul .MB_btn_group .play_btn{
    height: 57px;
    width: 160px;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    font-size: 25px;
    margin-right: 16px;
    border: none;
}
.ModalB_container .ModalB_box > ul .MB_btn_group .play_btn:hover{
    background-color: #dfdfdf;
    cursor: pointer;    
}
.ModalB_container .ModalB_box > ul .MB_btn_group .like_btn{
    color: #fff;
    border: 2px solid #aaa;
    background-color: rgba(0, 0, 0, 0.5);
    width: 53px;
    height: 53px;
    border-radius: 50%;
    font-size: 26px;
    position: relative;
}
.ModalB_container .ModalB_box > ul .MB_btn_group .like_btn:hover{
    color: #fff;
    border: 3px solid #fff;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
   
}
.ModalB_container .ModalB_box > ul .MB_btn_group .right_group > button{
    color: #aaa;
    border: 2px solid #aaa;
    background-color: rgba(0, 0, 0, 0.5);
    width: 53px;
    height: 53px;
    border-radius: 50%;
}
.ModalB_container .ModalB_box > ul .MB_btn_group .right_group > button >i{
    font-size: 20px;
}
.ModalB_container .ModalB_box > ul .MB_btn_group .right_group > button:hover{
    color: #fff;
    cursor: pointer;
    border: 3px solid #fff;
    background-color: rgba(0, 0, 0, 0.5);
    width: 53px;
    height: 53px;
    border-radius: 50%;
}

.ModalB_container .ModalB_box > ul .info_group{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}
.ModalB_container .ModalB_box .close_btn{
    width: 36px;
    height: 36px;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    font-size: 25px;
    border: 1px solid transparent;
    cursor: pointer;
}
.ModalB_container .ModalB_box .close_btn > i{
    font-size: 25px;
}
.ModalB_container .ModalB_box > ul .info_group .L_info{
    width: 600px;
    padding-right: 100px;
    padding-top: 15px;
}
.ModalB_container .ModalB_box > ul .info_group .L_info >p{
    margin-bottom: 10px;
    line-height: 20px;
}
.ModalB_container .ModalB_box > ul .info_group .L_info >p >img{
    width: 24px;
    height: 24px;
}
.ModalB_container .ModalB_box > ul .info_group .L_info >p >span{
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 18px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 12px;
    box-sizing: border-box;
    line-height: 18px;
    align-items: center;
}
.ModalB_container .ModalB_box > ul .info_group .R_info{
    width: 250px;
    height: 250px;
    padding-top: 30px;
    box-sizing: border-box;
}
.ModalB_container .ModalB_box > ul .info_group .R_info >p{
    margin-bottom: 20px;
}
.tag{
    display: inline-block;
    color: #888;
    margin-bottom: 5px;
}