body{
    background-color: #111;
}
.series_container{
    width: 2000px;
    margin: 68px auto;
    position: relative;
}
.sec_top{
    display: flex;
    gap: 30px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 30px;
    align-items: center;
}
.sec_top button{
    width: 70px;
    height: 30px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}
.series_container > img{
    width: 2000px;
    height: 1000px;
    /* border: 1px solid red; */
}
.series_container .movie_info{
    position: absolute;
    top: 100px;
    left: 30px;
}
.series_container .movie_info h1{
    font-size: 50px;
    color: #fff;
}
.series_container .movie_info p{
    color: #fff;
    line-height: 1.5em;
}
.series_container .movie_info > button{
    margin: 30px 5px 0 0;
    width: 150px;
    padding: 20px;
    border: 1px solid #fff;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
}
.series_container .movie_info .detailInfo{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.series_container h1{
    color: #fff;
}
.series_container .movies{
    background-color: #111;
    margin-top: 150px;
}
.series_container ul{
    display: flex;
    gap: 6px;
}
.series_container h2{
    color: #333;
    margin-top: 50px;
    color: #fff;
}
.series_container ul li img{
    width: 295px;
    height: 200px;
    border-radius: 5px;
}
.series_container .movies .series{
    display: flex;
    position: relative;
    width: 1500px;
    overflow: hidden;
}
.series_container .movies .h2_1{
    position: absolute;
    top: 650px;
    left: 0;
}
.series_container .movies .series1{
    position: absolute;
    top: 750px;
    left: 0;
}
.series_container .movies .series .left,
.series_container .movies .series1 .left{
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    height: 200px;
    background-color: transparent;
    color: #fff;
    border: 1px solid transparent;
}
.series_container .movies .series .left:hover,
.series_container .movies .series1 .left:hover{
    border: 1px solid #fff;
    background-color: rgba(0,0,0,0.5);
}
.series_container .movies .series .right,
.series_container .movies .series1 .right{
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 0;
    height: 200px;
    background-color: transparent;
    color: #fff;
    border: 1px solid transparent;
}
.series_container .movies .series .right:hover,
.series_container .movies .series1 .lerightft:hover{
    border: 1px solid #fff;
    background-color: rgba(0,0,0,0.5);
}