/* body */
/* body{
    background-color: red;
} */
/* series 전체 css */
.series_container{
    width: 2000px;
    margin: 0 auto;
    position: relative;
    background-color: #0c0c0c;
}
/* series 상단 이름 및 버튼 css */
.sec_top{
    display: flex;
    gap: 30px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 30px;
    margin-top: 68px;
    align-items: center;
    padding-left: 30px;
    height: 70px;
    box-sizing: border-box;
}
.sec_top  .dep1 > li > .dep1_btn{
    width: 100px;
    height: 40px;
    background-color:rgba(0,0,0,0.7);
    border: none;
    border: 1px solid #fff;
    color: #fff;
    margin-top: 4px;
    cursor: pointer;
    margin-bottom: 0px;
}
.sec_top .dep1{
    display: flex;
    flex-direction: column;
}
.series_dep1{
    padding-top: 23px;
}
.sec_top .dep1 > li{
    position: relative;
} 
.sec_top .dep1 li .dep2{
    display: flex;
    background-color: rgba(0,0,0,0.7);
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #fff;
    margin-top: 11px;
}
.sec_top .dep2 li > button{
    width: 160px;
    cursor: pointer;
    padding: 0 20px;
    margin-top: 2px;
    direction: rtl;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* series 메인 이미지 css */
.series_container > img{
    width: 2000px;
    height: 1000px;
    /* border: 1px solid red; */
}
.series_container .movie_info{
    position: absolute;
    top: 200px;
    left: 60px;
}
.series_container .movie_info h1{
    font-size: 50px;
    color: #fff;
}
.series_container .movie_info p{
    color: #fff;
    line-height: 1.5em;
}
 .series_container .movie_info .play{
    color: #222;
    width: 100px;
    padding: 12px 0;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    margin-right: 15px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 17px;
 }
 .series_container .movie_info .play:hover{
    background-color: #d9d9d9;
 }
.series_container .movie_info .detailInfo{
    color: #fff;
    width: 115px;
    padding: 12px 0;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    background-color: rgba(146, 146, 146, 0.7);
    cursor: pointer;
    font-size: 17px;
}
.series_container .movie_info .detailInfo:hover{
    background-color: rgba(146, 146, 146, 0.3);
}
.series_container > h1{
    color: #fff;
}
/* series ul */
.series_container .movies{
    background-color: #0c0c0c;
    padding-bottom: 60px;
    margin-top: 150px;
}
.series_container .movies .series >ul{
    display: flex;
    gap: 6px;
    width: 7114px;
    transition: 0.5s;
}
.series_container .movies >h2{
    color: #333;
    margin-top: 50px;
    color: #fff;
}
.series_container .movies .series > ul > li > img{
    width: 350px;
    height: 200px;
    border-radius: 5px;
    cursor: pointer;
}
.series_container ul li{
    position: relative;
}
.series_container .series > ul li:hover::after{
    content: '+';
    font-size: 100px;
    font-weight: 300;
    color: #efefef;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height : 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,0.4);
    z-index: 500;
    cursor: pointer;
}

/* 첫번째 ul li position으로 메인 이미지 위로 띄우기 위함 */
.series_container .movies .series1{
    position: absolute;
    top: 900px;
    left: 0px;
    z-index: 100;
}
.series_container .movies .h2_1{
    position: absolute;
    top: 800px;
    left: 70px;
}
/* 첫번째 ul의 li를 제외한 나머지 ul li */
.series_container .movies .series{
    display: flex;
    position: relative;
    width: 1774px;
    margin-left: 70px;
    overflow: hidden;
    margin-right: 1780px;
    border-radius: 5px;
}
.series_container .movies .h2_2{
    margin-left: 70px;
}
/* 영화 목록 왼쪽으로 이동하는 버튼 css */
.series_container .movies .series .left,
.series_container .movies .series1 .left{
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    height: 200px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    border: 1px solid transparent;
    z-index: 600;
}
.series_container .movies .series .left:hover,
.series_container .movies .series1 .left:hover{
    /* border: 1px solid #fff; */
    background-color: rgba(0,0,0,0.7);
}
/* 영화 목록 오른쪽으로 이동하는 버튼 css */
.series_container .movies .series .right,
.series_container .movies .series1 .right{
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 0;
    height: 200px;
    background-color: rgba(0,0,0,0.5);;
    color: #fff;
    border: 1px solid transparent;
    z-index: 600;
}
.series_container .movies .series .right:hover,
.series_container .movies .series1 .lerightft:hover{
    /* border: 1px solid #fff; */
    background-color: rgba(0,0,0,0.7);
}
/* 11-12 수정 */
/* .series_container .movies .series >ul >li{
    position: relative;
}
.series_container .movies .series >ul >li .modalS_postion{
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} */