.Header{
    height: 68px;
    width: 100%;
    background: linear-gradient(to bottom, #000, #00000000);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    position: fixed;
    z-index: 600;
    transition: background 1s ease;
}

.Header .HeadLeft{
    display: flex;
    align-items: center;
    gap: 30px;
}
.Header .HeadLeft img{
    height: 25px;
}
.Header .HeadLeft ul{
    width: 230px;
    display: flex;
    justify-content: space-between;
}
/* .Header .HeadLeft ul li{
    color: #ffffffda;
} */
/* .Header .HeadLeft ul li.active{
    color: #fff;
} */

.Header .HeadRight{
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

/* 모달 */
.Header .HeadRight .inputModal{
    position: absolute;
    right: -77px;
    top: -27px;
    width: 100vw;
    padding: 100px 400px 50px 200px;
    background-color: #222;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}
.Header .HeadRight .inputModal .inputBox{
    position: relative;
}
.Header .HeadRight .inputModal .inputBox i.inputButton{
    position: absolute;
    top: 15px;
    /* transform: translateY(-50%); */
    left: 13px;
    font-size: 20px;
    /* color: red; */
    cursor: pointer;
}
.Header .HeadRight .inputModal input{
    padding: 10px 45px;
    border: 1px solid #ccc;
    background-color: #000;
    margin-bottom: 30px;
    width: 400px;
    font-size: 18px;
}
.Header .HeadRight .inputModal input::placeholder{
    color: #999;
}
.Header .HeadRight .iButton{
    cursor: pointer;
    font-size: 20px;
    color: #ffffffda;
}
.Header .HeadRight .iButton:hover{
    color: #fff;
}
.Header .HeadRight .inputModal button{
    background-color: transparent;
    border: none;
    font-size: 30px;
    position: fixed;
    right: 40px;
    top: 40px;
    cursor: pointer;
}
.Header .HeadRight .inputModal .Top10 ul li{
    display: flex;
    align-items: baseline;
    gap: 20px;
    margin: 15px 0;
}
.Header .HeadRight .inputModal ul li h2{
    margin: 0;
    font-weight: normal;
    font-size: 30px;
    font-style: italic;
    width: 35px;
    color: #ccc;
}
.Header .HeadRight .inputModal ul li p{
    margin-bottom: 5px;
    color: #ccc;
}
.Header .HeadRight .inputModal ul li p:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #fff;
}

/* 유저 */
.Header .HeadRight .userBox{
    cursor: pointer;
    position: relative;
}
.Header .HeadRight .userBox p.userName{
    color: #ffffffda;
}
.Header .HeadRight .userBox p.LogoutBtn{
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000000ad;
    padding: 10px 15px;
    min-width: 100px;
    text-align: center;
    color: #ffffffda;
}
.Header .HeadRight .userBox p.LogoutBtn::before{
    content: '';
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 10px 12px 10px;
    border-color: transparent transparent #000000ad transparent;
}
.Header .HeadRight .userBox p.LogoutBtn:hover{
    text-decoration: underline;
}