.Login{
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.Login::before{
    content: '';
    position: absolute;
    top: 790px;
    left: 0;
    width: 100%;
    height: 660px;
    background-color: #222;
}
/* 헤더 */
.Login header{
    /* margin: 0 auto; */
    width: 1130px;
    padding: 30px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.Login header img{
    width: 150px;
}

/* 섹션 */
.Login section{
    height: 720px;
}
.Login section input{
    width: 440px;
    height: 56px;
    display: block;
    margin-bottom: 5px;
    border: 1px solid #777;
    background-color: #222;
    border-radius: 5px;
    padding: 20px;
    color: #ccc;
    font-size: 17px;
}
.Login section input::placeholder{
    color: #ccc;
}
.Login section button{
    width: 440px;
    height: 56px;
    border: none;
    background-color: #e50914;
    border-radius: 5px;
    margin: 7px 0 30px 0;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.Login section button:hover{
    background-color: #bb111a;
}
.Login section h3,
.Login section p{
    color: #ccc;
}

/* 푸터 */
.Login footer{
    width: 1130px;
    /* height: 500px; */
    margin-top: 80px;
    color: #ccc;
    position: absolute;
    top: 790px;
    z-index: 10;
}
.Login footer h3{
    margin-bottom: 50px;
    font-size: 15px;
    font-weight: normal;
}
.Login footer h3 span{
    text-decoration: underline;
    font-weight: bold;
}
.Login footer ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
}
.Login footer ul li{
    /* margin-right: 200px; */
    width: 250px;
    /* border-bottom: 1px solid #ccc; */
    text-decoration: underline;
}
.Login footer p{
    font-size: 13px;
    margin: 7px 0;
}
.Login footer h4{
    font-size: 14px;
    margin: 40px 0 100px 0;
}