.ModalS{
    width: 422px;
    height: 422px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    position: relative;
}
.ModalS > h2{
    position: absolute;
    top: 40%;
    left: 20px;
    color: #fff;
    box-shadow: 0 1 3px rgba(0, 0, 0, 0.3);
}
.ModalS > ul > li{
    padding: 10px 12px;
    line-height: 24px;
    display: flex;
    align-items: center;
}
.ModalS > ul > li:nth-child(1){
    padding: 0;
}
.ModalS > ul > li > span{
    box-sizing: border-box;
    line-height: 24px;
    height: 24px;
    
}
.ModalS > ul > li > span.quality{
    text-align: center;
    box-sizing: border-box;
    line-height: 12px;
    height: 14px;
    width: 22px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 8px;
    margin-left: 6px;
}
.ModalS > ul > li > span >img{
    width: 24px;
    height: 24px;
    margin-right: 6px;
    
}
.ModalS > ul > li >img{
    width: 100%;
    height: 253px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}
.ModalS .ModalS_BtnAria{
    display: flex;
    justify-content: space-between;
    padding: 10px 12px;
}
.ModalS .ModalS_BtnAria button{
    background-color: #333;
    border: 1px solid #fff;
    color: #fff;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 6px;
    cursor: pointer;
}
.ModalS .ModalS_BtnAria button:hover{
    background-color: #222;
}
.InfoBtn{
    line-height: 18px;
    position: relative;
}
.InfoBtn:hover::after{
    background-color: #fff;
    color: #333;
    content: '상세 정보';
    position: absolute;
    top: -20px;
    left: -50%;
    transform: translate(-25%,-50%);
    width: 150px;
    height: 30px;
    border-radius: 10px;
    line-height: 30px;
    font-weight: 600;
}
.InfoBtn >i{
    font-size: 22px;
}
.ModalS > ul .ModalS_Genre > ul{
    display: flex;
}
.ModalS > ul .ModalS_Genre > ul > li{
    padding-right: 15px;
}