.Footer{
    background-color: #141414;
    /* width: 980px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 130px 0 30px 0;
}

.Footer .SNS{
    width: 980px;
}
.Footer .SNS i{
    font-size: 23px;
    color: #ccc;
    margin-right: 30px;
    cursor: pointer;
}

.Footer ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 980px;
    margin-top: 30px;
}
.Footer ul li{
    width: 200px;
    color: #888;
    font-size: 12px;
    margin-bottom: 20px;
    cursor: pointer;
}
.Footer ul li:hover{
    text-decoration: underline;
}

.Footer .company_info{
    width: 980px;
    margin-top: 30px;
}
.Footer .company_info p{
    color: #888;
    margin-bottom: 10px;
    font-size: 12px;
}