.Main{
    background-color: #0c0c0c;
    /* height: 100%; */
    color: #fff;
    background-image: url('Untitled-4.png');
    background-repeat : no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* position: relative; */
}
.Main button{
    cursor: pointer;
}
/* .Main::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000077;
    width: 100%;
    height: 100%;
    z-index: 100;
} */

/* 헤더 */
.Main .MainHeader{
    /* margin: 0 auto; */
    width: 1130px;
    padding: 30px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.Main .MainHeader img{
    width: 148px;
}
.Main .MainHeader button{
    width: 70px;
    height: 32px;
    border: none;
    background-color: #e50914;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
}

/* 메인 */
.Main section .sec01{
    width: 1130px;
    height: 690px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.Main section .sec01 h1{
    font-size: 60px;
    margin: 10px 0;
}
.Main section .sec01 h4{
    font-size: 20px;
}
.Main section .sec01 input{
    width: 407px;
    height: 56px;
    background-color: #0000005d;
    border: 1px solid #888;
    border-radius: 5px;
    padding: 20px;
    font-size: 17px;
    font-weight: 500;
    color: #ccc;
}
.Main section .sec01 input::placeholder{
    color: #ccc;
}
.Main section .sec01 button{
    width: 170px;
    height: 56px;
    border: none;
    border-radius: 5px;
    background-color: #e50914;
    color: #fff;
    font-size: 20px;
    margin-left: 7px;
    font-weight: 700;
}
.Main section .sec01 .inputBox{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.Main section .sec01 .inputBox i{
    font-size: 20px;
}

/* 지금뜨는콘텐트 가입해야하는또다른이유 */
.Main section .sec02{
    width: 1130px;
    font-weight: normal;
}
.Main section .sec02 h2{
    font-size: 27px;
}
/* 슬라이드 */
/* 슬라이드 전체 */
.Main section .sec02 .slide{
    display: flex;
    align-items: center;
    position: relative;
    /* transition: transform 0.5s ease-in-out; */
    /* width: 1300px; */
    /* overflow: hidden; */
}
/* 화살표 전체 */
.Main section .sec02 .slide i{
    position: absolute;
    z-index: 100;
    cursor: pointer;
    font-size: 50px;
    color: #888;
}
/* 왼쪽 화살표 */
.Main section .sec02 .slide i.fa-chevron-left{
    left: -70px;
}
/* 오른쪽 화살표 */
.Main section .sec02 .slide i.fa-chevron-right{
    right: -70px;
}
.Main section .sec02 .slide i.fa-chevron-left:hover,
.Main section .sec02 .slide i.fa-chevron-right:hover{
    color: #f2f2f2;
}
.Main section .sec02 .slide .slideBox{
    overflow: hidden;
    width: 1300px;
}
.Main section .sec02 .slide ul.Top10{
    display: flex;
    transition: margin-left 1s ease;
}
.Main section .sec02 ul.Top10 li{
    width: 180px;
    height: 252px;
    position: relative;
    margin: 0 30px 0 40px;
    padding: 0 170px 0 0;
}
.Main section .sec02 ul.Top10 li h2.TOP10_H2{
    font-size: 150px;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: -50px;
    /* -webkit-text-stroke: 3px #ccc; */
    color: #000;
    z-index: 60;
    letter-spacing: -15px;
}
.Main section .sec02 ul.Top10 li h2.TOP10_H2Border{
    font-size: 150px;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: -50px;
    -webkit-text-stroke: 5px #ccc;
    color: #000;
    z-index: 55;
    letter-spacing: -15px;
}

.Main section .sec02 ul.Top10 li img{
    width: 180px;
    height: 252px;
    position: absolute;
    z-index: 50;
    padding-left: 20px;
}

.Main section .sec02 ul.info{
    display: flex;
    justify-content: space-between;
}
.Main section .sec02 ul.info li{
    width: 258px;
    height: 358px;
    padding: 20px;
    border-radius: 10px;
    /* background-color: #192247; */
    background: linear-gradient(to right bottom, #192247, #210e17);
    position: relative;
    word-break: keep-all;
}
.Main section .sec02 ul.info li h3{
    font-size: 20px;
    line-height: 30px;
    margin: 10px 0 30px 0;
}
.Main section .sec02 ul.info li p{
    font-size: 17px;
    color: #ccc;
    line-height: 23px;
}
.Main section .sec02 ul.info li i{
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-size: 40px;
}

/* 자주묻는질문 */
.Main section .sec03{
    width: 1130px;
    margin-top: 80px;
}
.Main section .sec03 h2{
    font-size: 27px;
}
.Main section .sec03 ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Main section .sec03 ul li div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84px;
    padding: 30px;
    margin-bottom: 1px;
    background-color: #222;
    cursor: pointer;
}
.Main section .sec03 ul li div span,
.Main section .sec03 ul li div p{
    font-size: 20px;
}
.Main section .sec03 ul li h4{
    background-color: #222;
    /* height: 84px; */
    padding: 30px;
    margin: 0;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    word-break: keep-all;
}
/* .Main section .sec03 ul li p{
    transition: 0.3s;
} */
.Main section .sec03 .sec03_start{
    text-align: center;
}
.Main section .sec03 .sec03_start p{
    font-size: 18px;
    padding: 20px 0;
    margin-top: 50px;
}
.Main section .sec03 .sec03_start input{
    width: 602px;
    height: 56px;
    background-color: transparent;
    border: 1px solid #888;
    border-radius: 5px;
    padding: 20px;
    font-size: 17px;
    font-weight: 700;
}
.Main section .sec03 .sec03_start input::placeholder{
    color: #ccc;
}
.Main section .sec03 .sec03_start button{
    width: 170px;
    height: 56px;
    border: none;
    border-radius: 5px;
    background-color: #e50914;
    color: #fff;
    font-size: 20px;
    margin-left: 7px;
    font-weight: 700;
}
.Main section .sec03 .sec03_start button i{
    font-size: 20px;
}

/* 푸터 */
.Main .MainFooter{
    width: 1130px;
    margin-top: 80px;
    /* color: #888; */
}
.Main .MainFooter h3{
    margin-bottom: 50px;
    font-size: 15px;
    font-weight: normal;
    color: #ccc;
}
.Main .MainFooter h3 span{
    text-decoration: underline;
    font-weight: bold;
    color: #ccc;
}
.Main .MainFooter ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
}
.Main .MainFooter ul li{
    /* margin-right: 200px; */
    width: 250px;
    /* border-bottom: 1px solid #ccc; */
    text-decoration: underline;
    color: #ccc;
}
.Main .MainFooter p{
    font-size: 13px;
    margin: 7px 0;
    color: #ccc;
}
.Main .MainFooter h4{
    font-size: 14px;
    margin: 40px 0 200px 0;
    color: #ccc;
}