.Main{
    background-color: #000;
    /* height: 100%; */
    color: #fff;
    background-image: url('Untitled-4.png');
    background-repeat : no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* position: relative; */
}
.Main button{
    cursor: pointer;
}
/* .Main::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000077;
    width: 100%;
    height: 100%;
    z-index: 100;
} */

/* 헤더 */
.Main header{
    /* margin: 0 auto; */
    width: 1130px;
    padding: 30px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.Main header img{
    width: 150px;
}
.Main header button{
    width: 70px;
    height: 32px;
    border: none;
    background-color: #e50914;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
}

/* 메인 */
.Main section .sec01{
    width: 1130px;
    height: 690px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.Main section .sec01 h1{
    font-size: 60px;
    margin: 10px 0;
}
.Main section .sec01 h4{
    font-size: 20px;
}
.Main section .sec01 input{
    width: 407px;
    height: 56px;
    background-color: transparent;
    border: 1px solid #888;
    border-radius: 5px;
    padding: 20px;
    font-size: 17px;
    font-weight: 500;
    color: #ccc;
}
.Main section .sec01 input::placeholder{
    color: #ccc;
}
.Main section .sec01 button{
    width: 170px;
    height: 56px;
    border: none;
    border-radius: 5px;
    background-color: #e50914;
    color: #fff;
    font-size: 20px;
    margin-left: 7px;
    font-weight: 700;
}
.Main section .sec01 .inputBox{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* 지금뜨는콘텐트 가입해야하는또다른이유 */
.Main section .sec02{
    width: 1130px;
    font-weight: normal;
}
.Main section .sec02 h2{
    font-size: 27px;
}
.Main section .sec02 ul{
    display: flex;
    justify-content: space-between;
}
.Main section .sec02 ul li{
    width: 258px;
    height: 358px;
    padding: 20px;
    border-radius: 10px;
    /* background-color: #192247; */
    background: linear-gradient(to right bottom, #192247, #210e17);
    position: relative;
}
.Main section .sec02 ul li h3{
    font-size: 20px;
}
.Main section .sec02 ul li p{
    font-size: 17px;
    color: #ccc;
}
.Main section .sec02 ul li i{
    position: absolute;
    bottom: 20px;
    right: 30px;
    font-size: 40px;
}

/* 자주묻는질문 */
.Main section .sec03{
    width: 1130px;
    margin-top: 80px;
}
.Main section .sec03 h2{
    font-size: 27px;
}
.Main section .sec03 ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84px;
    padding: 30px;
    margin-bottom: 20px;
    background-color: #222;
    cursor: pointer;
}
.Main section .sec03 ul li span,
.Main section .sec03 ul li p{
    font-size: 20px;
}
.Main section .sec03 .sec03_start{
    text-align: center;
}
.Main section .sec03 .sec03_start p{
    font-size: 18px;
    padding: 20px 0;
    margin-top: 50px;
}
.Main section .sec03 .sec03_start input{
    width: 602px;
    height: 56px;
    background-color: transparent;
    border: 1px solid #888;
    border-radius: 5px;
    padding: 20px;
    font-size: 17px;
    font-weight: 700;
}
.Main section .sec03 .sec03_start button{
    width: 170px;
    height: 56px;
    border: none;
    border-radius: 5px;
    background-color: #e50914;
    color: #fff;
    font-size: 20px;
    margin-left: 7px;
    font-weight: 700;
}

/* 푸터 */
.Main footer{
    width: 1130px;
    margin-top: 80px;
    color: #888;
}
.Main footer h3{
    margin-bottom: 50px;
    font-size: 15px;
    font-weight: normal;
}
.Main footer h3 span{
    text-decoration: underline;
    font-weight: bold;
}
.Main footer ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
}
.Main footer ul li{
    /* margin-right: 200px; */
    width: 250px;
    /* border-bottom: 1px solid #ccc; */
    text-decoration: underline;
}
.Main footer p{
    font-size: 13px;
    margin: 7px 0;
}
.Main footer h4{
    font-size: 14px;
    margin: 40px 0 200px 0;
}