/* body */
body{
    background-color: #111;
}
/* movieAction 전체 css */
.movieAction_container{
    width: 2000px;
    margin: 0 auto;
    position: relative;
    background-color: #0c0c0c;
}
/* movieAction 상단 이름 및 버튼 css */
.sec_top{
    display: flex;
    gap: 30px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 30px;
    margin-top: 68px;
    align-items: center;
}
.tagname:hover{
    text-decoration: underline;
}
.sec_top button{
    width: 70px;
    height: 30px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}
/* movieAction 메인 이미지 css */
.movieAction_container > img{
    width: 2000px;
    height: 1000px;
    /* border: 1px solid red; */
}
.movieAction_container .movieAction_info{
    position: absolute;
    top: 200px;
    left: 60px;
}
.movieAction_container .movieAction_info h1{
    font-size: 50px;
    color: #fff;
}
.movieAction_container .movieAction_info p{
    color: #fff;
    line-height: 1.5em;
}
/* .movieAction_container .movieAction_info > button{
    margin: 30px 5px 0 0;
    width: 150px;
    padding: 20px;
    border: 1px solid #fff;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
}
.movieAction_container .movieAction_info .detailInfo{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
} */
 .movieAction_container .movieAction_info .play{
    color: #222;
    width: 100px;
    padding: 12px 0;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    margin-right: 15px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 17px;
 }
 .movieAction_container .movieAction_info .play:hover{
    background-color: #d9d9d9;
 }
.movieAction_container .movieAction_info .detailInfo{
    color: #fff;
    width: 115px;
    padding: 12px 0;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    background-color: rgba(146, 146, 146, 0.7);
    cursor: pointer;
    font-size: 17px;
}
.movieAction_container .movieAction_info .detailInfo:hover{
    background-color: rgba(146, 146, 146, 0.3);
}
.movieAction_container h1{
    color: #fff;
}
/* movieAction ul */
.movieAction_container .movieActions{
    background-color: #0c0c0c;
    padding-bottom: 60px;
    margin-top: 150px;
}
.movieAction_container .movieAction > ul{
    display: flex;
    gap: 6px;
    transition: 0.5s;
}
.movieAction_container h2{
    color: #333;
    margin-top: 50px;
    color: #fff;
}
.movieAction_container ul li img{
    width: 350px;
    height: 200px;
    border-radius: 5px;
    cursor: pointer;
}
/* 첫번째 ul li position으로 메인 이미지 위로 띄우기 위함 */
.movieAction_container .movieActions .movieAction1{
    position: absolute;
    top: 900px;
    left: 0px;
}
.movieAction_container .movieActions .h2_1{
    position: absolute;
    top: 800px;
    left: 70px;
}
/* 첫번째 ul의 li를 제외한 나머지 ul li */
.movieAction_container .movieActions .movieAction{
    display: flex;
    position: relative;
    width: 1774px;
    border-radius: 5px;
    /* margin: 0 auto; */
    margin-left: 70px;
    overflow: hidden;
}
.movieAction_container .movieActions .h2_2{
    margin-left: 70px;
}
/* 영화 목록 왼쪽으로 이동하는 버튼 css */
.movieAction_container .movieActions .movieAction .left,
.movieAction_container .movieActions .movieAction1 .left{
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    height: 200px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    border: 1px solid transparent;
}
.movieAction_container .movieActions .movieAction .left:hover,
.movieAction_container .movieActions .movieAction1 .left:hover{
    /* border: 1px solid #fff; */
    background-color: rgba(0,0,0,0.7);
}
/* 영화 목록 오른쪽으로 이동하는 버튼 css */
.movieAction_container .movieActions .movieAction .right,
.movieAction_container .movieActions .movieAction1 .right{
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 0;
    height: 200px;
    background-color: rgba(0,0,0,0.5);;
    color: #fff;
    border: 1px solid transparent;
}
.movieAction_container .movieActions .movieAction .right:hover,
.movieAction_container .movieActions .movieAction1 .lerightft:hover{
    /* border: 1px solid #fff; */
    background-color: rgba(0,0,0,0.7);
}