/* body */
body{
    background-color: #111;
}
/* movie 전체 css */
.movie_container{
    width: 2000px;
    margin: 68px auto;
    position: relative;
}
/* movie 상단 이름 및 버튼 css */
.sec_top{
    display: flex;
    gap: 30px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 30px;
    align-items: center;
}
.sec_top button{
    width: 70px;
    height: 30px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}
.sec_top .dep1{
    display: flex;
    flex-direction: column;
}
.sec_top .dep2{
    padding: 10px;
    background-color: rgba(0,0,0,0.7);
}
.sec_top .dep2 li button{
    border: none;
}
/* movie 메인 이미지 css */
.movie_container > img{
    width: 2000px;
    height: 1000px;
    /* border: 1px solid red; */
}
.movie_container .movie_info{
    position: absolute;
    top: 200px;
    left: 30px;
}
.movie_container .movie_info h1{
    font-size: 50px;
    color: #fff;
}
.movie_container .movie_info p{
    color: #fff;
    line-height: 1.5em;
}
.movie_container .movie_info > button{
    margin: 30px 5px 0 0;
    width: 150px;
    padding: 20px;
    border: 1px solid #fff;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
}
.movie_container .movie_info .detailInfo{
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}
.movie_container h1{
    color: #fff;
}
/* movie ul */
.movie_container .movies{
    background-color: #111;
    margin-top: 150px;
}
.movie_container ul{
    display: flex;
    gap: 6px;
}
.movie_container h2{
    color: #333;
    margin-top: 50px;
    color: #fff;
}
.movie_container ul li img{
    width: 350px;
    height: 200px;
    border-radius: 5px;
}
/* 첫번째 ul li position으로 메인 이미지 위로 띄우기 위함 */
.movie_container .movies .movie1{
    position: absolute;
    top: 900px;
    left: 0px;
}
.movie_container .movies .h2_1{
    position: absolute;
    top: 800px;
    left: 70px;
}
/* 첫번째 ul의 li를 제외한 나머지 ul li */
.movie_container .movies .movie{
    display: flex;
    position: relative;
    width: 1780px;
    /* margin: 0 auto; */
    margin-left: 70px;
    overflow: hidden;
}
.movie_container .movies .h2_2{
    margin-left: 70px;
}
/* 영화 목록 왼쪽으로 이동하는 버튼 css */
.movie_container .movies .movie .left,
.movie_container .movies .movie1 .left{
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    height: 200px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    border: 1px solid transparent;
}
.movie_container .movies .movie .left:hover,
.movie_container .movies .movie1 .left:hover{
    border: 1px solid #fff;
    background-color: rgba(0,0,0,0.7);
}
/* 영화 목록 오른쪽으로 이동하는 버튼 css */
.movie_container .movies .movie .right,
.movie_container .movies .movie1 .right{
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    right: 6px;
    top: 0;
    height: 200px;
    background-color: rgba(0,0,0,0.5);;
    color: #fff;
    border: 1px solid transparent;
}
.movie_container .movies .movie .right:hover,
.movie_container .movies .movie1 .lerightft:hover{
    border: 1px solid #fff;
    background-color: rgba(0,0,0,0.7);
}